.serverPropertyList dt {
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.serverPropertyList dd {
    flex: 0 0 50%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}


.serverPropertyList dl {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
}

.media {
@media screen and (max-width: 100px) {
    .MuiGrid2-root {
        flex-direction: column;
    }
}
}    
